body {
    background-color: #333333;
}

/**** MEDIA QUERY - 1080 ****/

@media (max-width: 1080px) {
    background-color: #007a50;
}

/**** MEDIA QUERY - 550 ****/

@media (max-width: 550px) {
    background-color: #807300;
}

/**** MEDIA QUERY - 400 ****/

@media (max-width: 400px) {
    background-color: #802200;
}
