body {
    background-color: #333333;
}

/*** MEDIA QUERY - 675 ***/

@media (min-width: 675px) {
    background-color: #a3007a;
}

/**** MEDIA QUERY - 999 ****/

@media (min-width: 999px) {
    background-color: #4c00a3;
}

/**** MEDIA QUERY - 1280 ****/

@media (min-width: 1280px) {
    background-color: #001b7a;
}
